/* Global styles */
:root {
    --background: rgb(10, 10, 10);
    --background-light: #fdebf3;
    --background-dark: #181825;
    --button: #78c2ad;
    --text: #ffffff;
    --text-light: #ffffff;
    --text-link: #78c2ad;
    --underline: rgb(10, 10, 10);
    --header: "Poetsen One", serif;
    --body: "Josefin Sans", sans-serif;
    --cpurple1: #7a36e3;
    --cpurple2: #9a5ff6;
    --purple: #9a30ff;
    --violet: #7200ff;
    --pink: #6844ff;
}

html {
    background-color: var(--background);
    color: var(--text);
}

body {
    margin: 0 auto;
    text-align: justify;
}

body {
    display: grid;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

.content {
    padding-right: 25%;
    padding-left: 17%;
}

headerbar {
    width: 100%;
    height: 100px;
}

h1 {
    font-size: 2.6rem;
    margin: 1rem;
    margin-bottom: 5px;
}

h2 {
    text-decoration: underline var(--underline);
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
    font-size: 2.1rem;
    margin-bottom: 0;
}

.info {
    padding-right: 16px;
}

.who {
    padding-top: 15rem;
}

i-am {
    font-size: 4rem;
    font-family: var(--body);
}

costeer {
    padding-left: 1.2rem;
    font-size: 4rem;
    font-family: var(--body);
}

p {
    font-family: var(--body);
    font-size: 1.3rem;
    hyphens: auto;
    line-height: 1.2rem;
}

b {
    font-family: "Josefin Sans Italic", sans-serif;
}

small,
li {
    font-family: var(--body);
}

.pfp {
    float: right;
    text-align: center;
    opacity: 12%;
    word-wrap: break-word;
    scale: 490%;
    padding-left: 17%;
    padding-top: 1.4%;
    z-index: -1;
}

.textcard {
    background-color: var(--background-dark);
    padding: 0.15rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0rem;
    margin-top: 1.3rem;
    border-radius: 0px;
}

.center2 {
    text-align: center;
    margin-top: 0.8rem;
    font-family: var(--body);
}

.footer__menu {
    font-family: var(--body);
    font-size: 1.1rem;
    text-align: center;
    text-align: left;
}

/* Navigation Bar */
.navbar {
    padding-top: 1.2rem;
    padding-bottom: 0.3rem;
    padding-left: 17%;
    padding-right: 17%;
}

.navbar__title {
    font-family: var(--header);
    font-size: 1.3rem;
}

.accentstrich {
    text-align: left;
    padding-top: 0.5rem;
    background-color: var(--cpurple1);
    width: 100%;
}

.costeerspace {
    float: left;
    padding-left: 0rem;
    font-family: var(--body);
    color: var(--cpurple1);
    text-decoration: none;
    font-size: 1.5rem;
}
.costeerspace > a,
p > a {
    color: var(--cpurple2);
    text-decoration: none;
}

.navbar__menu {
    font-family: var(--body);
    font-size: 1.5rem;
    text-align: right;
    padding-right: 0rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
    float: right;
}

.navbar__title > a,
p > a,
.footer__menu > a,
.navbar__menu > a {
    color: var(--text);
    text-decoration: none;
}

.navbar__title > a:hover,
.footer__menu > a:hover,
p > a,
.navbar__menu > a:hover,
.navbar__menu > a:focus {
    text-decoration: underline var(--underline);
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

/* Gifs */
.vtublogo {
    text-align: center;
    margin-top: -5rem;
}

/* Animated Text */

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

@keyframes scale {
    from,
    to {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

/* Badge */
.badge {
    background-color: #584966;
    color: var(--text);
    border-radius: 6px;
    font-family: var(--body);
    font-weight: 600;
    font-size: 0.85rem;
    padding: 0.3em 0.6em 0.2em;
}

.badge__list {
    text-indent: 1rem;
    list-style: none;
    padding: 0;
}

.badge__list > li {
    margin-top: 10px;
}

.badge--item {
    border-radius: 4px;
    font-size: 0.7rem;
    margin-right: 5px;
    padding: 0.5em 0.3em 0.3em 0.3em;
}

.badge__link {
    color: var(--text-link);
    text-decoration: none;
}

.badge__link:hover {
    text-decoration: underline;
}

/* Cards */
.card {
    list-style: none;
    display: flex;
    background-size: 400%;
    padding: 20px;
}

.card__link {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    border-radius: 8px;
    color: var(--text);
}

.card__img {
    border-radius: 16px;
}

.card__title {
    margin: 0;
    font-family: var(--body);
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
}

.card__txt {
    font-size: 1rem;
    line-height: 1.5;
    text-indent: 0;
    text-align: center;
    margin: 0.5rem 0 0;
}

.card__link:hover {
    transform: scale(1.05);
}

.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}

.nothing {
    color: var(--background);
}

/* Button */

.btn-space {
    text-align: center;
    background-color: var(--background);
    border: 3px solid var(--cpurple1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    color: var(--text);
    font: 600 20px var(--body);
    padding: 10px;
    margin: 0 auto;
    max-width: 20rem;
    transition:
        background-color 0.4s,
        max-width 0.4s,
        color 0.4s;
}
.btn-space:hover {
    background-color: var(--cpurple1);
    color: white;
    cursor: pointer;
    max-width: 22rem;
}

.btn-discord {
    text-align: center;
    background-color: #5865f2;
    border: 2px solid #5865f2;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    color: white;
    font: 600 20px var(--body);
    padding: 10px;
    margin: 0 auto;
    max-width: 20rem;
    transition:
        background-color 0.4s,
        max-width 0.4s,
        color 0.4s;
}
.btn-discord:hover {
    background-color: #5865f2;
    color: white;
    cursor: pointer;
    max-width: 22rem;
}

.btn-key {
    text-align: center;
    background-color: var(--cpurple2);
    border: 2px solid var(--cpurple2);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    color: white;
    font: 600 20px var(--body);
    padding: 10px;
    margin: 0 auto;
    max-width: 20rem;
    transition:
        background-color 0.4s,
        max-width 0.4s,
        color 0.4s;
}
.btn-key:hover {
    background-color: var(--cpurple2);
    color: white;
    cursor: pointer;
    max-width: 22rem;
}

.btn-bluesky {
    text-align: center;
    background-color: #6ca0dc;
    border: 2px solid #6ca0dc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    color: white;
    font: 600 20px var(--body);
    padding: 10px;
    margin: 0 auto;
    max-width: 20rem;
    transition:
        background-color 0.4s,
        max-width 0.4s,
        color 0.4s;
}
.btn-bluesky:hover {
    background-color: #6ca0dc;
    color: white;
    cursor: pointer;
    max-width: 22rem;
}

.btn-makerworld {
    text-align: center;
    background-color: #212f26;
    border: 2px solid #212f26;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    color: #00ae42;
    font: 600 20px var(--body);
    padding: 10px;
    margin: 0 auto;
    max-width: 20rem;
    transition:
        max-width 0.4s,
        color 0.4s;
}
.btn-makerworld:hover {
    color: #00ae42;
    cursor: pointer;
    max-width: 22rem;
}

.btn-git {
    text-align: center;
    background-color: white;
    border: 2px solid #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    color: var(--background);
    font: 600 20px var(--body);
    padding: 10px;
    margin: 0 auto;
    max-width: 20rem;
    transition:
        background-color 0.4s,
        max-width 0.4s,
        color 0.4s;
}
.btn-git:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    max-width: 22rem;
}

.btn-git {
    text-align: center;
    background-color: white;
    border: 2px solid #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    color: var(--background);
    font: 600 20px var(--body);
    padding: 10px;
    margin: 0 auto;
    max-width: 20rem;
    transition:
        background-color 0.4s,
        max-width 0.4s,
        color 0.4s;
}
.btn-git:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    max-width: 22rem;
}

.button-list {
    margin-top: 3rem;
}

/* //////////////////////////////////////////// */

.btn {
    text-align: center;
    background: rgba(0, 0, 0, 0);
    border: 2px solid var(--button);
    border-radius: 8px;
    color: var(--text);
    font: 600 16px var(--body);
    padding: 8px 16px;
    transition:
        background-color 0.4s,
        color 0.4s;
}

.btn:hover {
    background-color: var(--button);
    color: var(--text-light);
    cursor: pointer;
}

/* Skills */
.skills {
    margin-top: 8px;
}

.skills__img {
    margin: 8px 4px;
}

/* Items */
.center {
    text-align: center;
}

.centerpadding {
    text-align: center;
    margin-top: 1rem;
}

.pro-img {
    border-radius: 16px;
    margin-top: 10px;
}

/* Footer */
footer {
    margin: 4rem 0;
    text-align: left;
    font-family: var(--body);
}

.footer__link {
    text-decoration: none;
    font-family: var(--body);
}

.footer {
    cursor: default;
    list-style: none;
    padding: 0;
    text-align: left;
    font-family: var(--body);
}

.icon__btn {
    display: inline-block;
    padding: 0 0.5rem;
}

/* 404 */
.lost {
    margin-top: 30%;
    text-align: center;
}

.lost__header {
    margin: 0 auto;
    text-align: center;
    border: 0;
    font-size: 7.5rem;
    letter-spacing: 10px;
}

.lost__body {
    color: #5c5b77;
}

.lost__link {
    color: var(--text-link);
    text-decoration: none;
}
