---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Costeer - Contact";
---
<Layout pageTitle={pageTitle}>

    <h2>Info</h2>

    <div class="test">
       <p> This site is hosted on <a href="https://www.netlify.com/">Netify</a> </p>
       <p> Its based on <a href="https://astro.build/themes/details/milky-way/">this</a> Astro Template </p>
       <p></p>
    </div>



    <h2>Contact</h2>

    <div class="test">
       <p> Email: costeer.tubeless250@passinbox.com </p>
       <p> Discord: costeer </p>
       <p> Bluesky: costeer.bsky.social</p>
    </div>

</Layout>
