---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Costeer - Contact";
---
<Layout pageTitle={pageTitle}>

    <h2>Info</h2>

    <div class="test">
       <p> This site is hosted on <a href="https://www.netlify.com/">Netify</a> </p>
       <p> Its based on <a href="https://astro.build/themes/details/milky-way/">this</a> Astro Template </p>
       <p></p>
    </div>



    <h2>Contact</h2>

    <div class="test">
       <p> Email: costeer.tubeless250@passinbox.com </p>
       <p> Discord: costeer </p>
       <p> Bluesky: costeer.bsky.social</p>
    </div>
    
    <h2>Why the Name Costeer?</h2>
    <div class="test">
       <p> The username "Costeer" is a fascinating blend of linguistic roots and conceptual depth. It breaks into two distinct components: "cos" and "teer" </p>
       <p> "Cos" traces its lineage back to the Greek word kosmos, meaning "universe" or "order." This root evokes a sense of vastness, structure, and the fundamental essence of everything that exists. </p>
       <p> "Teer" is derived from "engineer," which connotes creation, innovation, and the practical application of knowledge to shape reality. </p>

       <p> When combined, these elements form "Universe Engineer"—a title that suggests someone who doesn’t just explore or admire the universe but actively participates in its crafting or understanding. It’s as if the name declares a penchant for tackling cosmic-scale problems with the precision and ingenuity of an engineer. </p>

       <p> It’s a username that invites curiosity, resonating with both the poetic and the technical aspects of thinking big. Perfect for someone who enjoys weaving cosmic grandeur with hands-on creativity!</p>
       
       <b> No to be real i just like space and wanted that in my username i was also playing a lot of games that ended on "eer" at the time and so the name Costeer was born :3 </b> 
    </div>

</Layout>
