---
import Layout from '../layouts/Layout.astro';
const pageTitle = "costeer.space";
---
<Layout pageTitle={pageTitle}>

<div class="gif">
   <img height="260" alt="costeer-as-vtuber-logo" src="/VtuberisedCosteer.png"/>
</div>

<p class="center">Bisexual german hobby dev and linux enthusiast</p>

<div class="button-list">
    
    <a href="/" style="text-decoration: none;">
        <span class="btn-space">costeer.space</span>
    </a>
    
    <div class="nothing">i should be invisable</div>
    
    <a href="https://keyoxide.org/aspe:keyoxide.org:ORJOFEPL2MNOQBGU4IBIWNZ7BA" style="text-decoration: none;">
        <div class="btn-key">Keyoxide</div>
    </a>
    

    
    <div class="nothing">how are you seeing me???</div>
    
    <a href="https://bsky.app/profile/costeer.bsky.social" style="text-decoration: none;">
        <div class="btn-bluesky">Bluesky</div>
    </a>
    
    <div class="nothing ">stopppp lookingggg</div>
    
    <a href="https://discord.com/channels/@me" style="text-decoration: none;">
        <div class="btn-discord">Discord: costeer</div>
    </a>
    
    <div class="nothing ">stupid magicians</div>
    
    <a href="https://makerworld.com/en/@costeer" style="text-decoration: none;">
        <div class="btn-makerworld">MakerWorld</div>
    </a>
    
    <div class="nothing ">stupid magicians</div>
    
    <a href="https://github.com/Costeer/" style="text-decoration: none;">
        <div class="btn-git">Github</div>
    </a>
    
</div>


