---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Costeer";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img height="260" alt="costeer-as-vtuber-logo" src="/VtuberisedCosteer.png"/>
    </div>
    <h1>Welcome</h1>

    <div class="test">
       <p>Hi I'm Costeer i develop stuff for fun.</p>
       <p> most of my free time is spend with friends,
       i also create all sortes of art like icons, pixel art
       and stuff like the banner on this page.
       Im currently still in school working on my Abitur :3 </p>
    </div>

    <h2>Interests</h2>
    <div class="test">
       <p> I am very Interested in Web developement and everything sorounding the Linux desktop. </p>
       <p> My current main system runs on NixOs Unstable (25.05) </p>
    </div>
</Layout>

