---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Costeer";
---
<Layout pageTitle={pageTitle}>

<div class="content">

    <div class="who">
       <i-am>I am</i-am> 
       <costeer>  
         <span class="magic">
           <span class="magic-text">Costeer</span>
         </span>
       </costeer>
    </div>
</div>   




<div class="content">
       <p> Bisexual german hobby dev interested in modding hacking and generaly taking apart software, general linux but 
       more specifically NixOS enthusiast, big fan of 3d Printing.</p>
       
       <p>this site is hosted on Netify and build using Astro :3 </p>
</div>  

</Layout>
<div class="pfp">
    <img height="180" alt="costeer-as-vtuber-logo" src="/pfp-upscaled.png"/>
</div>
