---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Costeer";
---

<Layout pageTitle={pageTitle}>
    <!-- <div class="content"-->
    <!-- <costeer-->
    <!-- <span class="magic"-->
    <!-- <span class="magic-text"-- Costeer>
    <!-- </span-->
    <!-- </Layout-->

    <div class="center">
        <img src="public/starybackgroundbig.png" height="300" />
        <div class="test">
            <h1>Welcome Costeer</h1>
        </div>
    </div>

    <div class="section-black">
        <div class="content">
            <p>
                Bisexual german hobby dev interested in modding hacking and
                generaly taking apart software, linux but more specifically
                NixOS enthusiast.
            </p>

            <p>This site is hosted on Netlify and build using Astro :3</p>
        </div>
    </div>
</Layout>
