---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="center2">
    <div class="navbar__menu">
        <a href="https://steamcommunity.com/id/Costeeeeeeeeeeeeeeeeeeeeeeeeeer" target="_blank">Steam</a>
        <a href="/works/">Works</a>
        <a href="/posts/">Posts</a>
        <a href="https://github.com/Costeer/" target="_blank">GitHub</a>
    </div>
</div>

