---
import ThemeIcon from './ThemeIcon.astro';
---

<div class="accentstrich">
</div>
    
<div class="navbar">

    <div class="costeerspace">
        <a href="/">costeer.space</a>
    </div>

    <div class="navbar__menu">
        <a class="info" href="/contact/">info</a>
        <a href="https://github.com/Costeer/website" target="_blank">my stuff</a>
    </div>
</div>