---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="center2">
    <div class="navbar__menu">
        <a href="/">Home</a>
        <a href="/works/">Projects</a>
        {/* <a href="/posts/">Blog</a> */}
        <a href="/contact/">Info</a>
        <a href="https://github.com/Costeer/website" target="_blank">GitHub</a>
    </div>
</div>

